@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
  font-family: "Poppins", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}

.display-flex {
  display: flex;
}

.display-grid {
  display: grid;
}



/* Navbar Style */
header li img {
  width: 1rem;
}

.navbar {
  justify-content: space-between;
  max-width: 72rem;
  margin: 3rem auto;

}

.nav-links {
  gap: 1rem;
  align-items: center;
}

header li {
  list-style: none;

}
header a {
  text-decoration: none;
  font-size: 1.1rem;
  color: #3A3A3A;
}

header h4 {
  font-size: 1.5rem;
  font-weight: 700;
}

/* Banner Style  */

.banner-info img {
  width: 5rem;
}

.banner-container {
  max-width: 72rem;
  margin: 0 auto;
  grid-template-columns: 1.5fr 1fr;
  gap: 2rem;

}

.banner-info {
  align-items: center;
}

.banner-title {
  font-size: 3.25rem;
  margin-bottom: 0.5rem;
}

.banner-des {
  font-weight: 600;
  color: #3A3A3A;
  margin-bottom: 1rem;
}

.banner-img {
  position: relative;
}

.image {
  width: 100%;
}

.camera {
/* margin-top: -400rem; */
width: 100%;
position: absolute;
top: 0rem;
right: 0rem;
}

.primary-btn {
  color: white;
  background-color: #E02C6D;
  border: none;
  padding: 0.6rem 2rem ;
  border-radius: 1rem;
  
}
